<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="style.css" rel="stylesheet" type="text/css"></link>
    </head>

    <body class="playWithFriends">
    
        <center><input type="button" onclick=" location.href='/game' " value="Recargar" name="boton"  style='width:70px; height:70px' /></center>
        &nbsp&nbsp
    
        <div class= "title">
            <% for b in 0..(@game.getNumberPlayers - 1) do %>
                <div>
                    <h1>Jugador <%= (b + 1) %>: <%= @game.getPlayerScore(b) %></h1>
                </div>
            <% end %>
        </div>
    
        <div class="title">
            <% if @game.isBoardComplete %>
                <% for b in 0..(@game.getNumberPlayers - 1) do %>
                    <% if @game.isPlayerWin(b) %>
                        <h1 class="winner-<%= b %>">Gano jugador <%= (b + 1) %></h1>
                    <% end %>
                <% end %>
                <% if @game.isTie %>
                    <h1 style="color: white;">Empate</h1>
                <% end %>
            <% else %>
                <h1 class="winner-<%= (@game.getTurn + 1) %>">Turno del jugador <%= (@game.getTurn + 1) %></h1>
            <% end %>
        </div>
        
        <% value = 0 %>
        <% squarePosition = 0 %>
        <form method="post" action='/game'>
            <div style="display: flex;justify-content: center;flex-flow: wrap;">
                <% for a in 1..@game.getBoard.getHeight do %>
                    <% for b in 1..@game.getBoard.getWidth do %>
                        <img src="images/circle-base.png">
                        <% if @game.getBoard.getSides[value] %>
                            <button disabled class="button-no-style" value=<%= value %> name="selection"><img src="images/selected-horizontal.png"></button>
                        <% else %>
                            <button class="button-no-style" value=<%= value %> name="selection"><img src="images/select-horizontal.png"></button>
                        <% end %>
                        <% value = value + 1 %>
                    <% end %>
                    <img src="images/circle-base.png">
                    <div style="width: 100%;"></div>
                    <% for b in 1..@game.getBoard.getWidth do %>
                        <% if @game.getBoard.getSides[value] %>
                            <button disabled class="button-no-style" value=<%= value %> name="selection"><img src="images/selected-vertical.png"></button>
                        <% else %>
                            <button class="button-no-style" value=<%= value %> name="selection"><img src="images/select-vertical.png"></button>
                        <% end %>
                        <% for b in 0..@game.getNumberPlayers %>
                            <% if @game.getBoard.getSquares[squarePosition] == b %>
                                <img src="images/square-player-<%= b %>.png">
                            <% end %>
                        <% end %>
                        <% squarePosition = squarePosition + 1 %>
                        <% value = value + 1 %>
                    <% end %>
                    <% if @game.getBoard.getSides[value] %>
                        <button disabled class="button-no-style" value=<%= value %> name="selection"><img src="images/selected-vertical.png"></button>
                    <% else %>
                        <button class="button-no-style" value=<%= value %> name="selection"><img src="images/select-vertical.png"></button>
                    <% end %>
                    <div style="width: 100%;"></div>
                    <% value = value + 1 %>
                <% end %>
                <% for b in 1..@game.getBoard.getWidth do %>
                    <img src="images/circle-base.png">
                    <% if @game.getBoard.getSides[value] %>
                        <button disabled class="button-no-style" value=<%= value %> name="selection"><img src="images/selected-horizontal.png"></button>
                    <% else %>
                        <button class="button-no-style" value=<%= value %> name="selection"><img src="images/select-horizontal.png"></button>
                    <% end %>
                    <% value = value + 1 %>
                <% end %>
                <img src="images/circle-base.png">
                <div style="width: 100%;"></div>
            </div>
        </form>
    </body>
</html>